<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../fragmente/head") %>
        <meta name="keywords" content="account, info">
        <meta name="description" content="Your account informations in one place.">

        <title>Galerie</title>
    </head>
    
    <body>
        <%- include("../fragmente/header") %>

        <main>
                <h2>Galerie Animata</h2>
                <%- include("../fragmente/galerieAnimata") %>

                <%- include("../fragmente/galerieStatica") %>

        </main>
        
        <%- include("../fragmente/footer") %>
    </body>

</html>